<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello word</h1>

    <a href="/next" target="_top">next page</a> 
    <button onclick="finestraSecundaria()">siguiente pagina</button> 
    <!-- <button onclick="sendValue()">presiona me</button>  -->
    <script language=javascript>
        function finestraSecundaria (){
            console.log("activo")
         window.open('/next', "Diseño Web")
         window.close('./index')

        // window.location.opener = "/next"
        //window.location.replace("/next");
        // window.document = '/next' 
        }
        </script> 
    <script src="http://localhost:3000/app.js"></script>
</body>
</html>