<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include('./partials/head.ejs')-%>

    
</head>
<body>
    
    <div class="container p-5">
        <div class="text-center pt-5 ml-5">
            <div class="col-8 input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text bg-info text-white" for="selectExtractArea">Zona de extracción</label>
                </div>
                <select class="custom-select" id="selectExtractArea">
                  <option value="1">(01) San Francisco</option>
                  <option value="2">(02) Concha</option>
                  <option value="3">(03) Sucre planta</option>
                  <option value="4">(04) Santa Rita</option>
                  <option value="5">(05) Baralt</option>
                  <option value="6">(06) Sucre Concha</option>
                </select>
            </div>
        </div>
        <div class="pt-3 ml-5">
            <div class="col-8 input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-info text-white" for="selectProductType">Tipo de producto</label>
                </div>
                <select class="custom-select" id="selectProductType">
                    <option value="1">Jumbo</option>
                    <option value="2">Lump</option>
                    <option value="3">Special</option>
                    <option value="4">CLAW</option>
                    <option value="5">COCKTAIL</option>
                </select>
            </div>
        </div>
       <div class="col-4 ml-auto">
            <div class="input-group">
                <div class="input-group-prepend ">
                    <span class="input-group-text  bg-info text-white" id="basic-addon3">Cantidad de unidades</span>
                </div>
                <input class="form-control" type="number" min="0" value="1" id="inputNumber">
            </div>
            <input class="mt-4 btn btn-info" type="button" value="insertar" onclick="insert()">
       </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead class="bg-info">
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">Zona de extracción</th>
                <th scope="col">Tipo de producto</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
   
    <%- include('./partials/footer.ejs')-%>
    <%- include('./partials/insertDataScript.ejs')-%>

</body>
</html>