<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola de nuevo</h1>
    <button onclick="sinVueltaAtras()">cerrar ventana segundaria</button>
   <!-- <BODY onload="sinVueltaAtras();" onpageshow="if (event.persisted) sinVueltaAtras();" onunload="">  -->
    <script>
        // window.onpopstate = function (e) { window.history.forward(1); }
        // window.history.forward();
        function sinVueltaAtras(){ 
            // window.history.forward();
           
            // window.close('./index')
         }
        
    </script>
</body>
</html>