<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOUP</title>
    <%- include('./partials/head.ejs')-%>

</head>
<body>
   <!--
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
-->
    <div class="container my-5">
        <div id="contOpt" class="row">
            <div id="report" class="form-check col btn btn-info" style="width: 100%; height: 50px;">
                <input type="checkbox" class="invisible form-check-input" id="checkReport">
                <label class="form-check-label h3" for="checkReport" style="position: relative; width: 100%; height: 50px;">Reportes</label>
            </div>
            <div id="graphics" class="form-check col  btn btn-info" style="width: 100%; height: 50px;">
                <input type="checkbox" class="invisible form-check-input " id="checkGraphics">
                <label class="form-check-label h3" for="checkGraphics" style="position: relative; width: 100%; height: 50px;">Graficos</label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
        <div class="col-8 card" style="width: 50rem;">
           <!-- <h5 class="card-header">Reportes</h5>  -->
            <div class="card-body">
                <div class="form-group ml-5">
                    <label class="h3" for="">Tipo de reporte</label> 
                    <div class="col-6">
                        <select class="custom-select" id="selectTypeReport">
                            <option value="1">General de producción</option>
                            <option value="2">Por proceso</option>
                            <option value="3">Especifico por operario</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ml-5">
                    <!-- selector
                        depende de la opcion anterior
                    -->
                    <label class="h3" for="">Codigo de identificación del operario</label>
                    <div class="col-4">
                        <input type="password" class="form-control" id="" placeholder="">
                    </div>
                </div>
                <div class="form-group col-5 ml-5">
                    <label class="h3" for="">Fecha</label>
                    <input type="date" class="form-control" id="" placeholder="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-5"></div>
                        <div class="col-2 align-self-end">
                            <button type="submit" class="btn btn-info btn-lg">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-2"></div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs')-%>
    <%- include('./partials/reportScript.ejs')-%>
</body>
</html>